@model crud.Models.UsuarioModel

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastre-se</h1>

<h5>Cadastre um novo usuário</h5>
<hr />
<div class="row">
    
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
          
            </div>

           <br />
           <div class="d-flex justify-content-center">
                <a class="btn btn-secondary btn-block" asp-action="Index" asp-controller="UsuarioModels" role="button">Voltar</a>
                <button type="submit" class="btn btn-primary btn-block">Cadastrar</button> 
            </div>

        </form>
        <br />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
